*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height:100px;
    background-color: white;
    padding: 0 200;
}

.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.wrapper .logo{
    gap: 30px ;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li+li{
    padding-left: 20px;
}


.wrapper .first{
    display: flex;
    gap: 0;
}
.wrapper .logo{
    display: flex;
    gap: 50px;
    
}


nav .menu-links a{
    text-decoration: none;
    color: black;
    transition: box-shadow 0.5s;
    font-size: 18px;
    font-weight: 500;
}
nav .menu-links a:hover{
    box-shadow: 5px 5px 10px black;
}
.wrapper button{
    height: 30px;
    width: 130px;
    border-radius: 15px;
    color: black;
    transition: box-shadow 0.5s;

    
}
.wrapper button:hover{
    box-shadow: 5px 5px 10px black;
}



#pictures{
    background-color: #EBEBEB;
    display: flex;
}

#pictures h1{
    font-size: 24px;
    color:  #BDBDBD;
    margin-top: 140px;
}
#pictures p{
    font-size: 48px;
    color: black;
    width: 600;
    margin-top: 40px;
    margin-bottom: 142px;
}

#pictures .card-container{
    display: block;
    justify-content: space-between;
    

}
#pictures .first-line{
    display: flex;
    gap: 30px;
    margin-bottom:30px;
    
}
#pictures .second-line{
    display: flex;
    gap: 30px;
    margin-bottom: 140px;
}


#pictures .card{
    background-image: url('../media/Rectangle\ 2.png');
    width: 350px;
    height: 360px;
    background-size: cover;
    position: relative;
}

#pictures .card-container .info p{
    color: white;
    font-size: 24px;
    position: absolute;
   
    margin-left: 45px;
    margin-top: 40px;
    margin-right: 118px;
    
}

#pictures .card-container button{
    position: absolute;
    bottom: 40px;
    margin-left: 30px ;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
#pictures .card :hover{
    background-color :  blue;
}





#about-us{
    display: flex;
    margin-top: 160px;
    margin-bottom: 170px;
    width: 50%;
    
}  

#about-us .text-place{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 250px ;
}  

#about-us .text-place h2{
font-size: 24px;
color: #BDBDBD;
}
#about-us .text-place .subheader{
    font-size: 48px;
    color: black;
    font-weight: 900;
    margin-top: 40px;

}
#about-us .text-place .subheader2{
    font-size: 48px;
    color: #005FA3;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 60px;
}
#about-us .text-place .text{
    font-size: 18px;
    font-weight: 300;
}



#about-us .cube-container .cube1{
    height:300px ;
    width: 300px;
    position: relative;
    background-color: #EBEBEB;
 }

 #about-us .cube-container .line1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom:40px;

 }

 
 #about-us .cube-container .line2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }

 #about-us .cube-container .line1 .value{
    font-size: 55px ;
    font-weight: 900;
    position: absolute;
    margin: 30px 140px 170px 40px;
    
 }
 

 #about-us .cube-container .line1 .skill{
    font-size: 14px;
    margin: 114px 108px 104px 40px;
 }
 #about-us .cube-container .line1 button {
    margin-left: 51px;
    border:1px solid #005FA3;
    color: #005FA3;
 }

 #about-us .cube-container .line2 .value{
    font-size: 55px ;
    font-weight: 900;
    position: absolute;
    margin: 30px 140px 170px 40px;
 }
 #about-us .cube-container .line2 .skill{
    font-size: 14px;
    margin: 114px 108px 104px 40px;
 }
 #about-us .cube-container .line2 button {
    margin-left: 51px;
    border:1px solid #005FA3;
    color: #005FA3;
 }

 #about-us .cube1:hover{
background-color: #005FA3;
 }

 #about-us .cube-container .value:hover{
    color: white;
 }
 #about-us .cube-container .skill:hover{
    color: white;
 }
 #about-us .cube-container button:hover{
background-color: #005FA3;
color: white;
border: 1px solid white;
 }